<!-- <div class="header">
  <a [routerLink]="['']">
    <img src="../../assets/logo.png" alt="logo">
    <h1>MoviesApp</h1>
  </a>

  <div class="menu">
    <a href="">Popular</a>
    <a href="">Top Rated</a>
    <a href="">Upcoming</a>
  </div>
</div> -->

<div class="header">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- Logo y título de la web -->
    <a class="navbar-brand" [routerLink]="['']">
      <img src="../../assets/logo.png" alt="logo">
      <h1>MoviesApp</h1>
    </a>

    <!-- Botón que se muestra en versión móvil -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Menú de películas -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['discover']">Discover</a>
        </li>

        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['popular']">Popular</a>
        </li>

        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['topRated']">Top Rated</a>
        </li>

        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['upcoming']">Upcoming</a>
        </li>

        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['register']">Register</a>
        </li>

      </ul>
    </div>
  </nav>

</div>
