<footer>
    <section>
    <div class="footerDiv">
        <div class="section1">
            <h3>MoviesApp</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Excepturi quidem magni ipsa ratione aut id, sit beatae explicabo eaque debitis, facilis harum ipsum suscipit labore nihil, mollitia dolore tempore perferendis.</p>
        </div>
        <div class="section2">
            <h3>Where can I find the movies?</h3>
            <p>Netflix</p>
            <p>HBO</p>
            <p>Amazon Prime</p>
        </div>
        <div class="section3">
            <h3>You liked it?</h3>
            <p>Support our project here:</p>
            <a href="https://github.com/carlosmico/MovieApp"><i class="fab fa-github-alt"></i></a>
        </div>
    </div>
        <div class="copyright">
            MoviesApp &copy; 2019 Todos los derechos reservados
        </div>
    </section>
</footer>