@import '../../styles.scss';

footer {
    background-color: $color-principal-oscuro;
    padding: 0.3em;
}

h3 {
    color: $color-acento;
}

i {
    color: $color-letra;
    font-size: 2em;
}

.footerDiv {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
}

.section1, .section2, .section3 {
    width: 33%;
}

p {
    color: $color-letra;
}

.copyright {
    color: $color-letra;
    font-size: 0.8em;
    text-align: center;
}
