@import '../../styles.scss';

footer {
    background-color: $color-principal-oscuro;
    background-image: url("../../assets/bowl-cinema-close-up-1353368_d.png");
    background-size: cover;
    height: 100%;
    padding: 1em;
}

h3 {
    color: $color-acento;
}

i {
    color: $color-letra;
    font-size: 2em;
}

.footerDiv {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: justify;
}

.section1, .section2, .section3 {
    width: 25%;
}

p {
    color: $color-letra;
}

.copyright {
    color: $color-letra;
    font-size: 0.8em;
    text-align: center;
}

@media(max-width: 320px) {
    .footerDiv {
        flex-direction: column;
        text-align: initial;
    }
    
    .section1, .section2, .section3 {
        width: initial;
        padding: 0.4em;
    }
}
