<footer>
    <div class="div1">
        <h1>MoviesApp</h1>
        <p>Normally, both your asses would be dead as fucking fried chicken, but you happen to pull this shit while I'm in a transitional period so I don't wanna kill you</p>
    </div>
    <div class="div2">
        <h3>Where can I find the movies?</h3>
        <ul>
            <li>Netflix</li>
            <li>HBO</li>
            <li></li> 
        </ul>
    </div>
    <div class="div3">
        <h3>You liked it?</h3>
        <p>Support our project here</p>
        <a href="https://github.com/carlosmico/MovieApp"><i class="fab fa-github-alt"></i></a>
    </div>
    <div>
        
    </div>
</footer>

