@import '../../../styles.scss';

body{
    background-size: cover;
}

.backgroundColor{
    color: $color-letra;
    background-color: rgba(10, 5, 150, 0.632);
    display: flex;
    justify-content: space-around;
    padding: 4em 15%;
    min-height: 90%;
}

.coverPage{
    height: 35em;
    width: 25em;
    margin-right: 4em;
    
}


.titles{
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    margin-bottom: 2em;
    
    & > h1 {
        margin-right: 0.5em;
    }
    
    & > h3{
        color: grey;
    }
}

.genres{
    display: flex;
    align-items: baseline;
    margin-bottom: 1em;
}

.titleGenres{
    margin:0  0.3em;
}

.genre{
    margin-left: 0.5em;
}

.movieScore{
    display: flex;
    align-items: baseline;
    margin-bottom:  1.5em ;

    & h4 {
        margin:0  0.3em;
    }

    & div {
        font-size: 1.5em;
    }
}


.menu{
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    width: 50%;
    margin: 0em 0em 2em 0em;

    
    & button{
        height: 0.7em;
        width: 1em;
        all:unset;
        border-radius: 50%;
        padding: 0.5em;
        
        &:hover:not(.playTrailer){
            color:black;
            background-color: $color-letra;
            cursor: pointer;
        }

    }
   
        & .playTrailer:hover{
            cursor: pointer;
            color: grey;
        }
}


.titleOverview{
    margin-bottom: 1em;
    
}

.overview p{
    text-align: justify;
    text-indent: 0.5em;
}

p{
    margin-bottom: 1em;
}


    
    .similarMoviesByGenre {
        position: relative;
        background-color: $color-fondo;
        padding-top: 1.5em;
        
        
        & .titleContainerSimilarMoviesByGenre {
            text-align: center;
            
            
            & .similarMoviesTitle {
                margin-left: 1em;
                position: sticky;
                color: $color-acento;
                margin-bottom: 1.5em;
            }
        }
        
        
        & .similarMovies{
            display: flex;
            overflow-x: scroll;
            padding-bottom: 1em;
            

            & .similarMovie{
                position: relative;
                display: flex;
                align-items: center;
                height: 14em;
                margin: 0 0.5em 0.5em;
                box-shadow: 0px 0px 10px 0px rgba(173, 173, 173, 1);
                border: solid rgba(173, 173, 173, 1) 1px;
                cursor: pointer;
                
                & .close{
                    position: absolute;
                    top: 6px;
                    right: 15px;
                }
                & .similarMovieImageContainer{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    width: 10em;
                    height: 14em;

                    & .moreInfo{
                        position: relative;
                        height: 100%;
                        width: 100%;
                        background-color: rgba(173, 173, 173, 0.5);
                        color: $color-letra;
                        
                        & span{
                            position: absolute;
                            bottom: 50%;
                            right: 40%;
                            text-shadow: 1px 1px rgb(72, 72, 72);
                        }
                    }

                }
                
                & .infoSimilarMovie{
                    width: 22em;
                    padding: 1em 1em;
                    height: 100%;
                    overflow-y: scroll;
                    
                    & .contentinfoSimilarMovie{
                        width: 90%;
                        top: 1.5em;
                        text-align: justify;
                        width: 100%;
                        
                    }

                    & button{
                        all: unset;
                        padding: 0.2em;
                        background-color: $color-acento;
                        border-radius: 5px;
                        color: $color-letra;

                        &:hover{
                            transition-duration: 1s;
                            background-color: #017f85;
                        }
                    }

                    & .similarMovieText{
                        right: 0;
                        width: 20em;
                     

                        & .similarMovieTitle{
                            width: 90%;
                            overflow-wrap: normal;
                        }
                        
                        & .similarMovieDescription{
                            width: 90%;
                            overflow-wrap: normal;
                        }
                    }
                }

            }
        }
    }
    .cast {
        position: relative;
        background-color: $color-fondo;
        padding-top: 1.5em;
        
        
        & .titleCastContainer {
            text-align: center;
            
            
            & .castTitle {
                margin-left: 1em;
                position: sticky;
                color: $color-acento;
                margin-bottom: 1.5em;
            }
        }
        & .casting{
            display: flex;
            overflow-x: scroll;
            padding-bottom: 1em;

            & .artist{
                position: relative;
                display: flex;
                align-items: center;
                margin: 0 0.5em 0.5em;
                box-shadow: 0px 0px 10px 0px rgba(173, 173, 173, 1);
                border: solid rgba(173, 173, 173, 1) 1px;
                cursor: pointer;
            }

            & .artistContainer{
                position: relative;
                width: 10em;
                height: 14em;
                
                & .artistName{
                    position: absolute;
                    text-align: center;
                    width: 100%;
                    bottom: 0;
                    color: $color-letra;
                    text-shadow: 1px 1px rgb(72, 72, 72);
                }
                & .character{
                    position: relative;
                    height: 100%;
                    width: 100%;
                    background-color: rgba(173, 173, 173, 0.7);
                    color: $color-letra;

                    & span{
                        position: absolute;
                        text-align: center;
                        width: 100%;
                        bottom: 50%;
                        word-wrap: normal;
                        text-shadow: 1px 1px rgb(72, 72, 72);
                    }
                }
            }

            & .character{
                z-index: 1;
                position: absolute;
                width: 10em;
                height: 14em;
                background-color: white;
            }

        }
    }

    .crew {
        position: relative;
        background-color: $color-fondo;
        padding-top: 1.5em;
        
        
        & .titleCrewContainer {
            text-align: center;
            
            
            & .crewTitle {
                margin-left: 1em;
                position: sticky;
                color: $color-acento;
                margin-bottom: 1.5em;
            }
        }
        & .theCrew{
            display: flex;
            overflow-x: scroll;
            padding-bottom: 1em;

            & .member{
                position: relative;
                display: flex;
                align-items: center;
                margin: 0 0.5em 0.5em;
                box-shadow: 0px 0px 10px 0px rgba(173, 173, 173, 1);
                border: solid rgba(173, 173, 173, 1) 1px;
                cursor: pointer;
            }

            & .memberContainer{
                position: relative;
                width: 10em;
                height: 14em;
                
                & .memberName{
                    position: absolute;
                    text-align: center;
                    width: 100%;
                    bottom: 0;
                    color: $color-letra;
                    text-shadow: 1px 1px rgb(72, 72, 72);
                }
                & .job{
                    position: relative;
                    height: 100%;
                    width: 100%;
                    background-color: rgba(173, 173, 173, 0.7);
                    color: $color-letra;

                    & span{
                        position: absolute;
                        text-align: center;
                        width: 100%;
                        bottom: 50%;
                        word-wrap: normal;
                        text-shadow: 1px 1px rgb(72, 72, 72);
                    }
                }
            }

            & .job{
                z-index: 1;
                position: absolute;
                width: 10em;
                height: 14em;
                background-color: white;
            }

        }
    }


@media (max-width: 1025px) { 
    .backgroundColor{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .coverPage{
        height: 27em;
        width: 20em;
        margin-bottom: 2em;
    }
 }