<div>
  <div class="person">
    <div class="imageSection">
      <img src="https://image.tmdb.org/t/p/w300_and_h450_bestv2/{{person.profile_path}}" alt={{person.name}}>
    </div>
    <div class="infoSection">
      <h1>{{person.name}}</h1>
      <h4>Biography</h4>
      <p class="bioSection">{{person.biography}}</p>
    </div>
  </div>
  <div class="MoreInfoSection">
    <div class="moreInfo">
      <h4>More info</h4>
      <ul>
        <li>
          <h5>Know for:</h5>
          {{person.known_for_department}}
        </li>
        <li>
          <h5>Birthday:</h5>
          {{person.birthday}}
        </li>
        <li>
          <h5>Place of birth:</h5>
          {{person.place_of_birth}}
        </li>
        <li>
          <h5>Find out more here:</h5>
          <a href="https://www.imdb.com/name/{{person.imdb_id}}" target="_blank"><img class="moreButton"
              src="../../../assets/imdBlogo.png" alt="ImdB logo"></a>
          <a href="https://en.wikipedia.org/wiki/{{person.name}}" target="_blank"><img class="moreButton"
              src="../../../assets/wikipediaLogo.png" alt="Wikipedia logo"></a>
        </li>
      </ul>
    </div>
    <ng-container class="movieKnownFor" *ngFor="let credit of credits">
      <div class="movies" *ngIf="credit.id === person.id">
        <div class="movie" *ngFor="let movie of credit.known_for" [routerLink]='["/movie", movie.id]'>
          <img src="https://image.tmdb.org/t/p/w300/{{movie.poster_path}}" alt="{{movie.title}}">
          <h6>{{movie.title}}</h6>
        </div>
      </div>
    </ng-container>
  </div>
</div>
