@import '../../../styles.scss';

.person {
    display: flex;
    height: 75vh;

    .imageSection {
        padding: 1em;
        align-self: center;
        
        img {
          border-radius: 0.3em;
          box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
        }
    }

    .infoSection {
        padding: 1em;
        text-align: justify;
        background-color: $color-letra;
        margin-top: 1em;
        margin-right: 1em;
        margin-bottom: 1em;
        overflow-y: auto;
        box-shadow: 0px 0px 10px 0px rgba(173, 173, 173, 1);

      h1 {
        margin-top: 0.2em;
        text-align: center;
        color: $color-acento;
      }

      h4 {
        font-size: 1.2em;
        text-align: center;
        color: $color-letra-gris;
      }

      .bioSection {
        margin-top: 1em;
        margin-bottom: 2em;
        text-indent: 2.5em;
      }
    }
}

.MoreInfoSection {
  display: flex;
  flex-wrap: wrap;

  .moreInfo {
    margin-left: 1em;
    padding: 1em;
    background-color: $color-letra;
      
    ul {
      list-style: none;
      
      .moreButton {
        margin: 1em;
      }
    }
  }

.movies {
  padding: 1em;
  display: flex;
  flex-wrap: wrap;
  background-color: $color-letra;
  }

  .movie {
    margin: 0.5em;
  }
}