<div class="searchBar">
  <div class="dropdown">
    <input class="btn btn-secondary dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false" type="text" placeholder="Search a movie..." (keyup)="search($event)">

    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <p *ngIf='searchResults.length===0'>No results</p>
      <a class="dropdown-item" routerLink="movie/{{result.id}}" *ngFor='let result of searchResults'>{{result.title}}</a>
    </div>
  </div>

</div>
