<div class="general-movies">

  <div>
    <div>
      <div class="name_list">{{list.name}}</div>
      <ul class="list_info">
        <li class="detail_info">
          <span>{{list.total_results}}</span>
          <br>
          Films in the list</li>
        <li class="detail_info">
          <span>{{list?.average_rating}}<img
            src="http://1.bp.blogspot.com/_Dz2SqLo_Q9U/SAq9rTOTZiI/AAAAAAAAAR8/Gmik6H2hIZw/s320/2.gif" /></span>
          <br>
          Average Rating
        </li>
        <li class="detail_info">
          <span>{{list?.runtime}} min.</span>
          <br>
          Duration
        </li>
        <li>
          <span>{{list?.total_revenue}}</span>
        </li>
      </ul>
    </div>

    <div class="navigation">
      <i (click)="firstPage()">1</i>
      <i class="fas fa-arrow-left" (click)="previousPage()"></i>
      <span class="actualPage">{{actualPage}}</span>
      <i class="fas fa-arrow-right" (click)="nextPage()"></i>
      <i (click)="lastPage()">{{maxPage}}</i>
    </div>



  </div>
  <div class="movies">
    <div class="movie" [routerLink]='["/movie",movie.id]' *ngFor='let movie of listDetail'>
      <div class="leftSection">
        <img src='https://image.tmdb.org/t/p/w500/{{movie?.poster_path}}' alt={{movie?.title}}>
      </div>

      <div class="rightSection">
        <h2 class="title">{{movie?.title}}</h2>

        <p class="date">{{movie?.release_date}}</p>

        <p class="description">{{movie?.overview}}</p>

        <p class="moreInfo">More Info</p>
      </div>
    </div>
  </div>

  <div class="navigation">
    <i (click)="firstPage()">1</i>
    <i class="fas fa-arrow-left" (click)="previousPage()"></i>
    <span class="actualPage">{{actualPage}}</span>
    <i class="fas fa-arrow-right" (click)="nextPage()"></i>
    <i (click)="lastPage()">{{maxPage}}</i>
  </div>
</div>