.list{
    display: flex;
    margin: 0.5em;
    align-items: center;
    padding-top: 2em;
    .info{
        display: flex;
        flex-direction: column;
    }
    img{
        margin: 0.5em;
        width: 10%;
        height: 10%;
    }
}