<div class="lists">
    
<div class="image_thriller" >
    <img src="https://image.tmdb.org/t/p/w500/{{image_thriller}}" alt="{{trhillerList?.title}}">
    <p>thriller List</p>

</div>
<!-- <div class="movie" *ngFor='let movie of laughList'></div>
<div class="movie" *ngFor='let movie of awardList'></div> -->
</div>
<!-- <div class="movie" *ngFor='let movie of fictionList'>{{movie.title}}</div>
<br>
<div class="movie" *ngFor='let movie of twistList'>{{movie.title}}</div>
<br>
<div class="movie" *ngFor='let movie of animeList'>{{movie.title}}</div> -->