<div class="upcoming-movies">
    <h1>Upcoming Movies</h1>
  
    <div class="movies">
      <div class="movie" [routerLink]="['movie']" *ngFor='let movie of movies'>
        <div class="leftSection">
          <img src='https://image.tmdb.org/t/p/w500/{{movie.poster_path}}' alt={{movie.title}}>
        </div>
  
        <div class="rightSection">
          <h2 class="title">{{movie.title}}</h2>
  
          <p class="date">{{movie.release_date}}</p>
  
          <p class="description">{{movie.overview}}</p>
        </div>
      </div>
    </div>
  </div>
