@import '../../styles.scss';

.buyTickets{
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(https://wallpapercave.com/wp/wp4016023.jpg);
    background-size: cover;
    background-position: center;
    padding: 1em;
    margin-top: 5em;
    margin-bottom: 2em;
    position: relative;

    .dark{
        height: 100%;
        width: 100%;
        position: absolute;
        background-color: #0000004f;
      }

    a{
        color: white;
        width: 80vw;
        display: flex;
        align-items: center;
        justify-content: space-around;
        text-decoration: none;
        z-index: 2;
    }
}