@import '../../../styles.scss';
@import '../general-movies.scss';

.movie{
    width: 10vw;
    min-height: min-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
  

}