<div class="searchBar">
  <div class="dropdown">
    <input class="btn btn-secondary dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false" type="text" placeholder="Introduce a movie title..." (keyup)="search($event)">

    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <a class="dropdown-item" href="movie/{{result.id}}" *ngFor='let result of searchResults'>{{result.title}}</a>
    </div>
  </div>

</div>
