@import '../../styles.scss';

.header {
  background-color: $color-principal-oscuro;
  display: flex;
  flex-direction: column;
  align-items: center;

  .navbar {
    background-color: $color-principal-oscuro !important;
    padding: 1em;
    display: flex;
    width: 100%;

    //Logo y título
    &>a {
      display: flex;
      align-items: center;
      text-decoration: none;
      color: $color-letra;

      &>img {
        height: 50px;
        width: 45px;
      }

      &>h1 {
        margin-left: 5px;
        font-size: 1.5em;
      }
    }

    //Links menú
    .nav-link {
      color: $color-letra;
    }

    .nav-link:hover {
      color: $color-acento;
    }

    .navbar-collapse {
      margin-top: 5px;
      justify-content: flex-end;
    }

    //Botón desplegar menú móvil

    .navbar-toggler-icon {
      background-image: url('../../assets/menu.png')
    }

    //Menú desplegable móvil
    .navbar-nav {
      padding: 1em;
      flex-direction: row;
      justify-content: space-evenly;

      .logged,
      .notLogged {
        display: flex;
        margin-left: 2em;
        cursor: pointer;

        img {
          height: 30px;
          padding-bottom: 3px;
        }

        span {
          color: $color-letra;
          margin-left: 0.5em;
        }
      }

      @media(max-width: 450px) {
        .logged {
          margin: 0;
          margin-top: 2em;
        }
      }
    }

    @media(max-width: 450px) {
      .navbar-nav {
        flex-direction: column;
      }
    }
  }


  // @media(max-width: 320px) {
  //   .navbar {

  //     //Logo y título
  //     &>a {
  //       display: flex;
  //       align-items: center;
  //       text-decoration: none;
  //       color: $color-letra;

  //       &>img {
  //         height: 35px;
  //       }

  //       &>h1 {
  //         margin-left: 5px;
  //         font-size: 1em;
  //       }
  //     }

  //     .navbar-toggler-icon {
  //       background-image: url('../../assets/menu.png');
  //       height: 20px;
  //       width: 20px;
  //     }
  //   }
  // }
}
