<div class="header">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- Logo y título de la web -->
    <a class="navbar-brand" [routerLink]="['']">
      <img src="../../assets/logo.png" alt="logo">
      <h1>MoviesApp</h1>
    </a>

    <!-- Botón que se muestra en versión móvil -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Menú de películas -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['discover']">Discover</a>
        </li>

        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['popular']">Popular</a>
        </li>

        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['topRated']">Top Rated</a>
        </li>

        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['upcoming']">Upcoming</a>
        </li>

        <li class="nav-item active notLogged" [hidden]="userService.user" [routerLink]="['login']">
          <img src="../../assets/loginIcon.png" alt="user">
          <span>Login</span>
        </li>

        <li class="nav-item active logged" [hidden]="!userService.user" [routerLink]="['profile']">
          <img src="../../assets/logoutIcon.png" alt="user">
          <span>{{userService.user.username}}</span>
        </li>

        <!-- Si el usuario no está loggeado aparecerá esta sección -->
        <!-- <li class="nav-item active notLogged" *ngIf="{{!userService.user}}" [routerLink]="['login']">
          <img src="../../assets/loginIcon.png" alt="user">
          <span>Login</span>
        </li> -->

        <!-- Si el usuario está loggeado aparecerá esta sección -->
        <!-- <li class="nav-item active logged" *ngIf="{{userService.user}}" [routerLink]="['profile']">
          <img src="../../assets/logoutIcon.png" alt="user">
          <span>{{userService.user.username}}</span>
        </li> -->
      </ul>
    </div>
  </nav>
</div>
<!-- Links relacionados con la gestión de usuarios -->
