<div class="general-movies">
    
      
    <!-- <div class="navigation">
      <i (click)="firstPage()">1</i>
      <i class="fas fa-arrow-left" (click)="previousPage()"></i>
      <span class="actualPage">{{actualPage}}</span>
      <i class="fas fa-arrow-right" (click)="nextPage()"></i>
      <i (click)="lastPage()">{{maxPage}}</i>
    </div>
   -->
    <div class="movies">
      <div class="movie" [routerLink]='["/list",list.id]' *ngFor='let list of listDetail'>
        <div class="leftSection">
          <img src='https://image.tmdb.org/t/p/w500/{{list.poster_path}}' alt={{list.title}}>
        </div>
  
        <div class="rightSection">
          <h2 class="title">{{list.title}}</h2>
  
          <p class="date">{{list.release_date}}</p>
  
          <p class="description">{{list.overview}}</p>
  
          <p class="moreInfo">More Info</p>
        </div>
      </div>
    </div>
<!--   
    <div class="navigation">
      <i (click)="firstPage()">1</i>
      <i class="fas fa-arrow-left" (click)="previousPage()"></i>
      <span class="actualPage">{{actualPage}}</span>
      <i class="fas fa-arrow-right" (click)="nextPage()"></i>
      <i (click)="lastPage()">{{maxPage}}</i>
    </div>
  </div>
   -->