@import '../../../styles.scss';

.popular-people {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $color-fondo;

    h1 {
        color: $color-acento;
        padding: 1em;
        text-align: center;
    }

    .navigation {
        display: flex;
        align-items: center;
        padding: 1em;
    
        span {
            font-size: 1.5em;
            margin-left: 0.3em;
            margin-right: 0.3em;
        }
        
        i {
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: bold;
            font-style: initial;
            height: 30px;
            width: 40px;
            text-align: center;
            background-color: #222831;
            color: #00adb5;
            border-radius: 5px;
            margin-right: 0.5em;
            margin-left: 0.5em;
            cursor: pointer;
        }
    }

    .people {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .person {
        display: flex;
        flex-direction: column;
        margin: 1em;
        background-color: white;
        box-shadow: 0px 0px 10px 0px rgba(173, 173, 173, 1);  
                
        .imageSection {
                        
            img {
                cursor: pointer;   
            }
        }

        .infoSection {
            padding: 1em;
            text-align: justify;
    
            .name {
                font-size: 1.2em;
                text-align: center;
            }
    
            .knownFor {  
                margin-top: 0.2em;
                text-align: center;
                color: $color-letra-gris;
            }
    
        }
    }
}