/* You can add global styles to this file, and also import other style files */
$color-principal: #393e46;
$color-principal-oscuro: #222831;
$color-acento: #00adb5;
$color-letra: whitesmoke;
$color-letra-gris: grey;
$color-fondo:  #EEEE;

html{
    font-family: 'Roboto', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::selection {
    background-color: #01d277;
    color: #ffffff;
}