<footer>
        <div class="footerDiv">
        <div class="section1">
            <h3>What is MoviesApp?</h3>
            <p>We are a library for movies. Here you can find a huge catalogue of movies, which movies are the best rated? Wich ones are coming? What movies are on trend? Come with us and find out.🧐</p>
            <p>Find out more about movies <a [routerLink]="['certifications']">certifications</a>.</p> 
        </div>
        <div class="section2">
            <h3>Where can I find the movies?</h3>
            <p>Netflix</p>
            <p>HBO</p>
            <p>Amazon Prime</p>
            <p>Popcornflix</p>
        </div>
        <div class="section3">
            <h3>You liked it?</h3>
            <p>Support our project here:</p>
            <a href="https://github.com/carlosmico/MovieApp"><i class="fab fa-github-alt"></i></a>
        </div>
    </div>
        <div class="copyright">
            MoviesApp &copy; 2019 Todos los derechos reservados
        </div>
</footer>