<div class="home">
  <div class="content">
    <div class="title">¡Welcome Movie Lovers!</div>
    <div class="sections">
      <button class="Uncoming">
        <div>
          <h3>Look up for <br> the uncoming <br>films</h3>
        </div>
      </button>
      <button class="yourList">
        <div>
          <h3>Make your own<br> favorite list</h3>
        </div>
      </button>
      <button class="punctuation">
        <div>
          <h3>contribute with<br> your own opinion</h3>
        </div>
      </button>
      <button class="web">
        <div>
          <h3>You want it?<br> you got it!</h3>
        </div>
      </button>
    </div>
  </div>

</div>