
  <div class="generalInfo">
  <div class="backgroundColor">
    <img src="../../assets/coverPage.jpg" alt="Cover Page" class="coverPage">
    <div class="text">

      <div class="titles">
        <h1>Title</h1>
        <h3>(year)</h3>
      </div>

      <div class="buttons">
        <span>User score</span>
        <button class="addToList"><i class="fa fa-list" aria-hidden="true"></i></button>
        <button class="markAsFavorite"><i class="fa fa-heart" aria-hidden="true"></i></button>
        <button class="addWatchlist"><i class="fa fa-bookmark" aria-hidden="true"></i></button>
        <button class="rateIt"><i class="fa fa-star" aria-hidden="true"></i></button>
        <button class="playTrailer"><i class="fa fa-play" aria-hidden="true"></i> Play trailer</button>
      </div>

      <div class="overview">
        <h3 class="titleOverview">Overview</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quas exercitationem quo nesciunt, vitae voluptatibus illo! Quos, nisi tempore. Quos rem quidem dignissimos dolorum beatae quis corporis ex eos deserunt error.</p>
      </div>

      <div class="crew">
        <h3 class="titleCrew">Featured Crew</h3>
        <div class="membersCrew">

        </div>
      </div>
    </div>
  </div>
</div>

