@import '../../styles.scss';

.movie{
    min-width: 95vw;
}

body{
    background-size: cover;
}

.backgroundColor{
    color: $color-letra;
    background-color: rgba(10, 5, 150, 0.632);
    display: flex;
    justify-content: space-around;
    padding: 4em 15%;
    width: 98.9vw;
    min-height: 90vh;
}

.coverPage{
    height: 35em;
    width: 25em;
    margin-right: 4em;
}


.titles{
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    margin-bottom: 2em;
    
    & > h1 {
        margin-right: 0.5em;
    }
    
    & > h3{
        color: grey;
    }
}

.genres{
    display: flex;
    align-items: baseline;
    margin-bottom: 1em;
}

.titleGenres{
    margin:0  0.3em;
}

.genre{
    margin-left: 0.5em;
}

.movieScore{
    display: flex;
    align-items: baseline;
    margin-bottom:  1.5em ;

    & h4 {
        margin:0  0.3em;
    }

    & div {
        font-size: 1.5em;
    }
}


.menu{
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    width: 50%;
    margin: 0em 0em 2em 0em;
    
    & button{
        height: 0.5em;
        width: 1em;
        all:unset;
        border-radius: 50%;
        padding: 0.5em;
        
        &:hover:not(.playTrailer){
            color:black;
            background-color: $color-letra;
            cursor: pointer;
        }

    }
        & .playTrailer:hover{
            cursor: pointer;
            color: grey;
        }
}


.titleOverview{
    margin-bottom: 1em;
    
}

.overview p{
    text-align: justify;
    text-indent: 0.5em;
}

p{
    margin-bottom: 1em;
}

@media (max-width: 1025px) { 
    .backgroundColor{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .coverPage{
        height: 27em;
        width: 20em;
        margin-bottom: 2em;
    }
 }