@import '../../styles.scss';
$colors :  rgba(150, 5, 65, 0.632) rgba(10, 5, 150, 0.632) rgba(5, 106, 150, 0.632) rgba(5, 150, 87, 0.632) rgba(5, 150, 27, 0.632) rgba(106, 150, 5, 0.632);



.generalInfo{
    background-image: url(../../assets/cinema.jpg);
    background-size: cover;
}

.backgroundColor{
    color: $color-letra;
    background-color: nth($colors,  random(length(&colors)));
    display: flex;
    justify-content: space-around;
    padding: 2em 15%;
    width: 98.9vw;
    min-height: 90vh;
}

.coverPage{
    height: 30em;
    width: 25sem;
    margin-right: 4em;
}


.titles{
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    margin-bottom: 2em;
    
    & > h1 {
        margin-right: 0.5em;
    }
    
    & > h3{
        color: grey;
    }
}

.score{
    font-size: 1.5em;
    font-weight: 500;
    margin: 0 1.5em 1.5em 0.3em;
}

.menu{
    display: flex;
    flex-wrap: wrap;
    // justify-content: space-between;
    align-items: baseline;
    width: 50%;
    margin: 0em 0em 2em 0em;
    
    & button{
        height: 0.5em;
        width: 1em;
        all:unset;
        border-radius: 50%;
        padding: 0.5em;
        
        &:hover:not(.playTrailer){
            color:black;
            background-color: $color-letra;
            cursor: pointer;
        }

    }
        & .playTrailer:hover{
            cursor: pointer;
            color: grey;
        }
}


.titleOverview{
    margin-bottom: 1em;
}

p{
    margin-bottom: 1em;
}
