
  <div class="generalInfo">
  <div class="backgroundColor">
    <img src="../../assets/coverPage.jpg" alt="Cover Page" class="coverPage">
    <div class="text">

      <div class="titles">
        <h1>Title</h1>
        <h3>(year)</h3>
      </div>

      <div class="buttons">
        <span>User score</span>
        <button class="addToList"></button>
        <button class="markAsFavorite"></button>
        <button class="addWatchlist"></button>
        <button class="rateIt"></button>
        <button class="playTrailer"></button>
      </div>

      <div class="overview">
        <h3 class="titleOverview">Overview</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quas exercitationem quo nesciunt, vitae voluptatibus illo! Quos, nisi tempore. Quos rem quidem dignissimos dolorum beatae quis corporis ex eos deserunt error.</p>
      </div>

      <div class="crew">
        <h3 class="titleCrew">Featured Crew</h3>
        <div class="membersCrew">

        </div>
      </div>
    </div>
  </div>
</div>

