
<body class="generalInfo" background="https://image.tmdb.org/t/p/w500/{{movie.backdrop_path}}">
  <div class="backgroundColor">
  <img src="https://image.tmdb.org/t/p/w500/{{movie.poster_path}}" alt="Cover Page" class="coverPage">
    <div class="text">

      <div class="titles">
        <h1>{{movie.title}}</h1>
        <h3>{{movie.release_date}}</h3>
      </div>

      <div class="genres">
        <h4 class="titleGenres">Genres:</h4> 
        <div class = "genre" *ngFor='let genre of genres'>{{genre.name}}  </div>
      </div>
      
      <div class="movieScore">
        <h4>User score: </h4>
        <div class="score">{{movie.vote_average}}</div>
      </div>
      
      <div class="menu">
        <div class="buttons">
        <button class="addToList" title="Add to list"><i class="fa fa-list" aria-hidden="true"></i></button>
        <button class="markAsFavorite" title="Mark as favorite"><i class="fa fa-heart" aria-hidden="true"></i></button>
        <button class="addWatchlist" title="Add to your watchlist"><i class="fa fa-bookmark" aria-hidden="true"></i></button>
        <button class="rateIt" title="Rate it!"><i class="fa fa-star" aria-hidden="true"></i></button>
      </div>
      
      <div class="trailer">
        <button class="playTrailer"><i class="fa fa-play" aria-hidden="true"></i> Play trailer</button>
      </div>
    </div>
    
    <div class="overview">
      <h3 class="titleOverview">Overview</h3>
      <p>{{movie.overview}}</p>
    </div>
  </div>
</div>
</body>


<div class="moreInfo">
  
  <div class="similarMoviesByGenre">
    <div class="titleSimilarMoviesByGenre">
      <h3 class="similarMoviesTitle">Similar Movies by Genre</h3>
    </div>

    <div class="similarMovies">
      <div ng-app class="similarMovie" *ngFor="let similarMovie of similarMovies" >
        <body class="similarMovieImageContainer"  ng-mouseover = "showItem()" background="https://image.tmdb.org/t/p/w500/{{similarMovie.poster_path}}">
          <div class="moreInfo" *ngIf="show===true">
            <span>+ Info</span>
          </div>
        </body>

      <!-- <div class="similarMovieText">
        <h2 class="similarMovieTitle">{{similarMovie.title}}</h2>
        <p class="similarMovieDate">{{similarMovie.release_date}}</p>
        <p class="similarMovieDescription">{{similarMovie.overview}}</p>
        <p class="moreInfo">More Info</p>
      </div> -->
    </div>
    </div>
  </div>
</div> 

