<div class="popular-movies">
  <h1>Popular Movies</h1>

  <div class="movies">
    <div class="movie"  *ngFor='let movie of movies'>
      <div [routerLink]='["movie",movie.id]'>
      <div class="leftSection">
        <img src='https://image.tmdb.org/t/p/w500/{{movie.poster_path}}' alt={{movie.title}}>
      </div>

      <div class="rightSection">
        <h2 class="title">{{movie.title}}</h2>

        <p class="date">{{movie.release_date}}</p>

        <p class="description">{{movie.overview}}</p>
      </div>
    </div>
  </div>
  </div>
</div>
